<% if(successmsg && successmsg.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= successmsg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
  <% if(errormsg && errormsg.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= errormsg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>